/************************************************************************/
/***************************** BLOG STYLES ******************************/
/************************************************************************/

.section--blog-post {
  max-width: 1440px;
  margin: 0 auto;
  .back {
    margin-bottom: 2rem;
    margin-top: -1rem;
    font-size: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 15rem;
  }
  .date,
  .category {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .post-categories {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    margin-left: 0.25em;
    display: flex;

    li {
        margin-right: 0.25em;
        a {
          color: $plum;
        }
        &::after {
            content: ", ";
        }

        &:last-child {
            &::after {
                content: none;
            }
        }
    }
  }
  .wrapper--image {
    img {
      display: block;
      text-align: center;
    }
    @include tablet {
      max-width: 30em;
      margin: 1em auto;
    }
  }

}
