/************************************************************************/
/******************************* VARIABLES ******************************/
/************************************************************************/

/* PRIMARY COLORS */
$plum: #512241;
$forest: #064c4c;
$charcoal: #282f2d;
$warmGray: #999;
$lightGray: #F5F5F5;

$lightBlue: #C8CEDF;
/* SECONDARY COLORS */
$dahlia: #b73563;
$coral: #f37268;

/* TETRIARY COLORS */
$mint: #bee3dc;
$periwinkle: #c8cddf;

$quoteColor: #4D8286;

$white: #FFFFFF;
$black: #000000;

$transparent: rgba(255, 255, 255, 0);

$transitionTime: 300ms;
$transitionType: ease;
